<header class="text-center h1 bg-primary text-light p-3 mb-3">MasterCompany</header>
<div class="container">
    <h2 class="text-center">Lista de empleados</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">Salario</th>
            <th scope="col">Genero</th>
            <th scope="col">Fecha de inicio</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>